@font-face {
  font-family: 'Manrope' !important;
  src: local('Manrope'), 
        url('https://fonts.google.com/specimen/Manrope');
} 
/* start carousel */
.signup_container {
  max-height: 100vh;
}

.car_container {
  max-height: 100vh;
  overflow: hidden;
} 

.carousel_img {
  max-width: 100%;
  /* height: auto; */
  height: 100vh;
  object-fit: cover;
}

/* end carousel */

/* start the show sign up  */
.right_Side{
  /* padding-top: 30px; */  
  background-color: #FAFBFC;
  height: 100vh;
  margin: 0;
} 

.right_Panel{    
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px 2px rgba(181, 181, 181, 0.25);
  border-radius: 12px !important;
  width: 450px;
  height: auto;
  margin: 36px 67px 76px 68px !important;
  font-family: 'Manrope'!important;
}

.logoImg{
  width: 138px;
  height: 22.02px;
}

.subtitle_board {
  margin-top: 45px;
}
  
.subtitle{
  font-family: 'Manrope'!important;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-left: 20px;
}
  
.signupBlock{
  padding-top: 9.98px !important;
  padding-left: 49px !important;
  padding-right: 48px !important;
}

.subtitle.second {
  margin-top: 50px;
  font-family: 'Manrope'!important;
}

/* .btn.btn-primary .btn-verify{
  background-color: #1E519F !important;
  border: none;
} */

.form-control.is-invalid, .was-validated .form-control:invalid{
  border: none;
  border-bottom: 1px solid #E1E1E1!important;
  border-radius: 0px;
}
   
/* .CFLabel input {
  background: #FFFFFF;
  border-bottom: 1px solid;
  border-radius: 0;
  border: none;
  color: red;
  background-image: none !important;
} */

/* .CFLabel input:focus {
  background: rgba(255, 86, 48, 0.04);
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  color: #FF5630;
  background-image: none !important;
  border-bottom: 1px solid #FF5630;
} */
  
/* .CFLabel label {
  margin-left: 10px;
}

.CFLabel .invalid-feedback{
  padding-left: 10px;
  color: #FF5630;
  margin-top: 6px;
} */

/* .CNLabel.invalid-feedback {
  padding-left: 10px;
  color: #FF5630;
  margin-top: 6px;
} */

.CNLabel{
  color: #2B2B2B;
  margin-bottom: 18px;
  border: none;
}
  
.CNLabel input {
  background: #FFFFFF;
  border-bottom: 1px solid #E1E1E1;
  box-shadow: none;
  color: #2B2B2B;
  background-image: none !important;
  font-family: 'Manrope';
}

.CNLabel input:focus {
  background: rgba(255, 86, 48, 0.04);
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  color: #2B2B2B;
  background-image: none !important;
  border-bottom: 1px solid #2B2B2B;
}

.CNLabel label {
  margin-left: 10px;
}

.CNLabel .invalid-feedback{
  padding-left: 10px;
  color: #2B2B2B;
}

.content_container {
  padding: 0px !important;
  width: 562px !important;
  height: 975px;
  background: #FAFBFC;
} 

.logo_container {
  margin-top: 50px;
  /* margin-left: 145px;; */
}

.form_container {
  margin-top: 44px !important;
}
  
.invalid-feedback {
  font-size: 10px !important;
  color: #FF5630 !important;
}

#row_name {
  /* margin-bottom: 6px !important; */
}

#email label{
  margin: 0;
}
  
#row_rule_password {
  margin: 8px 0 0 0 !important;
  height: 28px;
  font-family: 'Manrope' !important;
}

#row_rule_password {
  font-family: 'Manrope' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 10px !important;
  line-height: auto !important;
  color: #DADADA;
  letter-spacing: 0.8px;
}
  
#row_password {
  margin-bottom: 0 !important;
}


.passicon {
  position: absolute;
  top: 20px;
  right: 25px;
}
  
#rule_green {
  color:#38CB89;
}

#rule_red { 
  color: #FF5630;
}

#parent_rule_password {
  margin-bottom: 0;
}

.form-check-input {
  width: 25px !important;
  height: 25px !important;
  background-color: #1E519F !important;
  border-color: #1E519F !important;
}
.agree_checkbox_container {
  margin-top: 28px !important;
  justify-content: center;
  align-items: center;
}

  
.lavel_accept {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  padding-left: 16px;
  color: #999999;
  letter-spacing: 0.7px;
}

.highlight_blue_text {
  color: #1E519F;
  font-weight: 700;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
  
.btn_submit {
  margin-top: 13px !important;
  justify-content: center;
}

.btn_veri_submit {
  margin-top: 28px !important;
  justify-content: center;
  /* width: 325px !important;
  height: 44px !important; */
  justify-content: center;
  align-items: center;
  font-family: 'Manrop' !important;
}
  
.btn_submit .btn_signup {
  width: 325px;
  height: 44px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  background-color: #1E519F !important;
  border-color: #1E519F !important;
}

.btn_submit .btn_login {
  width: 325px;
  height: 44px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-color: #1E519F !important;
  margin-bottom: 30px;
}
  
.already_account {
  font-family: 'Manrope';
  text-align: right;
  color: #999999;
  margin-top: 28px !important;
  font-size: 12px;
}

.already_account span {
  font-size: 14px;
}

.btn_login{
  /* border: 1px solid #1E519F !important; */
  background: white !important;
  color: #1E519F !important;
}
  
.veri_label {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 28px !important;
  color: #8A94A6;
  max-width: 275px;
}

.verinum_container {
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
}
  
.valiemail_label {
  margin-top: 59.98px !important;
}
.btn_verify {
  font-family: 'Manrope'!important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  background-color: #1E519F !important;
  color: #FFFFFF !important;
  border-bottom: 30px!important;
} 
  
  
.floating-form {
  width: 320px;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
}
  
.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  line-height: 48px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #5264AE;
}
  
.floating-label label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-select:focus~label{
  top: -18px;
  font-size: 14px;
  /* color: #5264AE; */
}
  
/* .floating-select:not([value=""]):invalid~label {
  top: -18px;
  font-size: 14px;
  color: #5264AE;
} */

/* .labelactive label{
  top: -18px;
  font-size: 14px;
  color: #5264AE;
} */
  
.labeldisactive label{
  font-size: 14px;
  /* color: #5264AE; */
}

/* active state */

.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
  width: 50%;
}
  
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

  
/* highlighter */

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
  
  
/* active state */
  
.floating-select:focus~.highlight {
  opacity: .65;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}
  
  
#select_tag {
  width:100%;
}
  
.floating-select:focus~ option{
  height: 48px !important;
}
  
.floating-select option {
  height: 48px !important;
}
  
.verinum_container input{
  width: 35px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}
  

.floating-select>option:hover{
  background-color: #38CB89;
}

.floating-select:focus {
  outline: none;
  background-color: #E1E1E1;
}

.form_container_verify {
  display: grid;
}

@media(width<576px){
  .car_container {
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:center;
  } 

  .carousel_img{
    width: 320px;
    height: auto;
    display: block;
  }

  .right_Side{
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  .right_Panel{    
    display: flex;
    justify-content: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px 2px rgba(181, 181, 181, 0.25);
    border-radius: 10px !important;
    width: 320px;
    height: auto;
    margin: 0px!important;
    font-family: 'Manrope'!important;
    padding: 0px;
  }

  .subtitle {
    font-family: 'Manrope'!important;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    margin: 0;
  }

  /* .agree_checkbox_container.row{
    display: flex!important;
    flex-direction: row;
    flex-wrap: nowrap;
  } */


  .lavel_accept {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 16px;
    padding-left: 30px;
    color: #999999;
    letter-spacing: 0px;
    display: block;
  }

  .floating-select{
    margin-top: 20px;
  }
}

@media(768px<= width <1200px) {
  .right_Panel{    
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px 2px rgba(181, 181, 181, 0.25);
    border-radius: 10px !important;
    width: 400px;
    height: auto;
    margin: 0px!important;
    font-family: 'Manrope'!important;
    padding: 0px;
    margin: 10px;
  }

  .right_Side{
    /* padding-top: 30px; */  
    background-color: #FAFBFC;
    height:inherit;
    margin: 0;
    display: flex;
    justify-content: center;
  } 
  /* .car_container {
    max-height: 100vh;
    overflow: hidden;
  } 
   */
  .carousel_img {
    max-width: 100%;
    /* height: auto; */
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
  }
  
}
